<div>
    <h1 class="common-title">Редактирование категории доходов</h1>
    <form class="form">
        <div class="input-group">
            <input type="number" class="form-control" placeholder="Зарплата" id="salary">
            <span id="salary-error" class="error invalid-feedback">Заполните поле </span>
        </div>
    </form>
    <div class="actions-common-toolbar">
        <a href="/incomes" class=" btn btn-success btn-common" id="update-button">Сохранить</a>
        <a href="/incomes" class="btn btn-danger btn-common" id="cancel-button">Отмена</a>
    </div>
</div>