@use "layout";
@use "operations";
@use "main";
@use "adaptive";
@use "common" as common;

body {
  font-family: 'RobotoRegular', sans-serif !important;
}

.common-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .common-page-body {
    width: 397px;

    .logo {
      text-align: center;
      margin-bottom: 60px;
    }

    h1 {
      text-align: center;
      font-family: 'RobotoMedium', sans-serif;
      font-size: 40px;
      margin-bottom: 20px;
      color: common.$dark-blue;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .error.invalid-feedback {
        font-size: 12px !important;
      }

      .is-invalid {
        border-color: #dc3545 !important;
        border-left: none;
      }

      .input-group-text:has(+ .is-invalid) {
        border-color: #dc3545 !important;
      }

      .input-group-text {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        border-color: #CED4DA;
      }

      input {
        font-size: 15px !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        border-color: #CED4DA;
        font-family: 'RobotoRegular', sans-serif !important;
        color: #000000 !important;

        ::placeholder {
          color: #6C757D !important;
          font-family: 'RobotoRegular', sans-serif !important;
        }
      }

      .form-check {
        margin-bottom: 10px !important;

        label {
          font-size: 12px !important;
          font-family: 'RobotoRegular', sans-serif !important;
          font-weight: 600;
          line-height: 23px;
        }
      }

      button {
        font-size: 15px !important;
        font-family: 'RobotoMedium', sans-serif !important;
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .social-auth-links {
      font-weight: 500 !important;
      font-size: 12px !important;
      font-family: 'RobotoRegular', sans-serif !important;

      span {
        margin-right: 10px;
      }
    }
  }
}

.show-sidebar {
  left: 0 !important;
}

