<div class="main-page">
    <h1 class="common-title">Главная</h1>
    <div  id="interval-toolbar">
    </div>
    <div class="charts">
        <div class="incomes-chart-block">
            <h3 class="category-title">Доходы</h3>
            <div class="chart-item">
                <canvas id="incomes-chart"></canvas>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="expenses-chart-block">
            <h3 class="category-title">Расходы</h3>
            <div class="chart-item">
                <canvas id="expenses-chart"></canvas>
            </div>
        </div>
    </div>
</div>