<div class="main-page">
    <h1 class="common-title">Главная</h1>
    <div class="common-date-filter-toolbar">
        <button class="btn  ">Сегодня</button>
        <button class="btn  ">Неделя</button>
        <button class="btn  ">Месяц</button>
        <button class="btn ">Год</button>
        <button class="btn ">Все</button>
        <button class="btn  ">Интервал</button>
        <button class="btn ">Сегодня</button>
        <div class="common-custom-date-filter">
            <span>с</span>
            <span class="custom-date">Дата</span>
            <span>по</span>
            <span class="custom-date">Дата</span>
        </div>
    </div>
    <div class="charts">
        <div class="incomes-chart-block">
            <h3 class="category-title">Доходы</h3>
            <div class="chart-item">
                <canvas id="incomes-chart"></canvas>
            </div>
        </div>
        <div class="vertical-line"></div>
        <div class="expenses-chart-block">
            <h3 class="category-title">Расходы</h3>
            <div class="chart-item">
                <canvas id="expenses-chart"></canvas>
            </div>
        </div>
    </div>
</div>