<div>
    <h1 class="common-title" id="categories-title"></h1>
    <div class="categories-list" id="categories-list">
        <div class="category-block add-category-block">
            <a href="#" class="add-category-icon" id="add-category" >+</a>
        </div>
    </div>
</div>

<div class="modal-dialog" id="delete-modal-dialog">
    <div class="modal-content rounded-3 shadow">
        <div class="modal-body ">
            <h5 class="modal-title">Вы действительно хотите удалить категорию? Связанные доходы останутся без
                категории.</h5>
            <div class="modal-actions">
                <a href="#" id="confirm-delete" class="btn btn-success">Да, удалить</a>
                <button type="button" id="cancel-delete" class="btn btn-danger">Не удалять</button>
            </div>
        </div>
    </div>
</div>