<div>
    <h1 class="common-title" id="page-title"></h1>
    <form class="form">
        <div class="input-group">
            <input type="text" class="form-control" id="category-title" placeholder="Имя категории">
            <span  class="error invalid-feedback">Заполните поле </span>
        </div>
    </form>
    <div class="actions-common-toolbar">
        <button class=" btn btn-success btn-common" id="update-button">Сохранить</button>
        <a href="#" class="btn btn-danger btn-common" id="cancel-update-category" >Отмена</a>
    </div>
</div>