<div>
    <h1 class="common-title" id="page-title"></h1>
    <form class="form">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Название" id="category-title">
            <span id="category-title-error" class="error invalid-feedback">Заполните поле </span>
        </div>
    </form>
    <div class="actions-common-toolbar">
        <button class=" btn btn-success btn-common" id="create-button">Создать</button>
        <a href="#" class="btn btn-danger btn-common" id="cancel-add-category">Отмена</a>
    </div>
</div>