<div class="common-page">
    <div class="common-page-body">
        <div class="logo">
            <img src="/images/logo.png" alt="Logo">
        </div>
        <h1>Вход</h1>
        <form>
            <div class="input-group">
                <div class="input-group-text bg-body-secondary">
                    <span><img src="/images/mail.png" alt="email"></span>
                </div>
                <input type="email" class="form-control" placeholder="Электронная почта" id="email">
                <span id="email-error" class="error invalid-feedback">Введите корректный E-mail</span>
            </div>
            <div class="input-group ">
                <div class="input-group-text bg-body-secondary">
                    <span><img src="/images/lock.png" alt="lock"></span>
                </div>
                <input type="password" class="form-control " placeholder="Пароль" id="password">
                <span id="password-error" class="error invalid-feedback ">Заполните пароль</span>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="remember">
                <label class="form-check-label  " for="remember">
                    Запомнить меня
                </label>
            </div>
            <button type="button" class="btn btn-primary" id="process-button">Войти</button>
        </form>
        <div class="social-auth-links">
            <span>Еще нет аккаунта?</span>
            <a href="/sign-up"> Пройдите регистрацию </a>
        </div>
    </div>
</div>