<div>
    <h1 class="common-title">Создание дохода/расхода</h1>
    <form class="form">
        <div class="input-group">
            <select class="form-control" id="type" disabled="disabled">
                <option value="income">Доход</option>
                <option value="expense">Расход</option>
            </select>
        </div>
        <div class="input-group">
            <select id="category" class="form-control"></select>
        </div>
        <div class="input-group">
            <input type="number" class="form-control" placeholder="Сумма в $..." id="amount">
            <span id="amount-error" class="error invalid-feedback">Заполните сумму </span>
        </div>
        <div class="input-group">
            <input type="date" class="form-control" placeholder="Дата..." id="date">
            <span id="date-error" class="error invalid-feedback">Заполните дату </span>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Комментарий..." id="comment">
            <span id="comment-error" class="error invalid-feedback">Заполните комментарии </span>
        </div>
    </form>
    <div>
        <button class=" btn btn-success btn-common" style="margin-right: 10px" id="create-button">Создать</button>
        <a href="/operations" id="cancel-button" class="btn btn-danger btn-common">Отмена</a>
    </div>
</div>