<div>
    <h1 class="common-title">Доходы и расходы</h1>
    <div class="common-actions-bar">
        <a href="/operations/create?type=income" class="btn btn-success btn-common">Создать доход</a>
        <a href="/operations/create?type=expense" class="btn btn-danger btn-common">Создать расход</a>
    </div>
    <div  id="interval-toolbar">
    </div>
    <div class="table-wrapper">
        <table class="operations-table">
            <thead>
            <tr class="text-dark-blue">
                <th style="width:130px">№ операции</th>
                <th>Тип</th>
                <th>Категория</th>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Комментарий</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="records">
            </tbody>
        </table>
    </div>
</div>

<div class="modal-dialog" id="delete-modal-dialog">
    <div class="modal-content rounded-3 shadow">
        <div class="modal-body ">
            <h5 class="modal-title">Вы действительно хотите удалить операцию?</h5>
            <div class="modal-actions">
                <button type="button" id="confirm-delete" class="btn btn-success btn-common">Да, удалить</button>
                <button type="button" id="cancel-delete" class="btn btn-danger btn-common">Не удалять</button>
            </div>
        </div>
    </div>
</div>